/* Hero */
.hero-contacto {
    background: url('../../img/contacto-hero.jpg') center/cover no-repeat;
}

.hero-contacto h1 {
    font-size: 3rem;
    color: var(--color-white);
}

/* Layout formulario + datos */
.contacto-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.campo p {
    margin: 0;
}

@media (max-width: 768px) {
    .contacto-grid {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 2rem auto;
        padding: 0 1rem;
    }
}

/* Form */
.contacto-form h2 {
    margin: 0;
    margin-bottom: 30px;
}

.terms{
    color: var(--color-primary);
}

.campo-inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.campo-inline input[type="checkbox"] {
    margin: 0;
}

.campo-inline .terms {
    margin: 0;
}

/* Aside */
.info-container {
    background-color: var(--color-accent);
    padding: 2rem 2rem;
    border-radius: var(--radius);
}

.refugio-info h2, p, a {
    margin-bottom: 1rem;
    color: var(--color-white);
}

.refugio-info a {
    text-decoration: none;
}

.refugio-info a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

.refugio-info .material-icons {
    vertical-align: middle;
    margin-right: 0.5rem;
    color: var(--color-white);
}

/* Mapa */
.contacto-mapa {
    width: 100%;
    height: 400px;
    border: none;
}

/* Modal de envío */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
}

.modal .button {
    margin-top: 1rem;
    color: var(--color-white);
    background-color: var(--color-accent);
}