/* Layout general */
.container {
    margin-top: 6rem;
}

/* Grid de tarjetas de animales pero con 4 columnas */
.grid-tarjetas-animales {
    grid-template-columns: repeat(4, 1fr);
}

/* Paginación */
.paginacion {
    text-align: center;
    margin: 2rem 0;
}

.paginacion a {
    display: inline-block;
    margin: 0 .25rem;
    padding: .5rem .75rem;
    border-radius: var(--radius);
    background: #e1e1e1;
    text-decoration: none;
    color: #333;
}

.paginacion a.active {
    background: var(--color-primary);
    color: #fff;
}

/* Responsive para menos columnas */
@media (max-width: 1024px) {
    .grid-animales {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .container.layout {
        flex-direction: column;
    }

    .grid-animales {
        grid-template-columns: 1fr;
    }
}