html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.admin-footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    height: 70px;
    align-items: center;
    display: flex;
}

.admin-footer .footer-link {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
}

.admin-footer .footer-link:hover {
    text-decoration: underline;
}