/* ADMIN - index.php */
.admin-dashboard {
    display: flex;
    gap: 2rem;
}

.dashboard-izq {
    flex: 1 1 auto;
}

.dashboard-der {
    margin-top: 2rem;
    max-width: 300px;
    border-radius: var(--radius);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-der ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.dashboard-der ul li {
    color: var(--color-primary);
}

/* Info Refugio */
.refugio-info {
    margin-top: 1rem;
    background: var(--color-accent);
    padding: 1.5rem;
}

.refugio-info h2 {
    margin-bottom: 1rem;
    color: var(--color-white);
    font-size: 1.6rem;
}

.refugio-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.refugio-info ul li {
    margin-bottom: 0.5rem;
    color: var(--color-white);
    font-size: 0.95rem;
}

.refugio-info ul li strong {
    color: var(--color-white);
}