/* H1 */
h1 {
    margin-top: 2rem;
}

/* Padre flex */
.divFiltro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

.divFiltro .campo {
    display: flex;
    flex: 1 1 200px;
}

/* Tabla */
.table tbody tr {
    transition: background-color 0.2s ease;
    border-bottom: 2px solid gainsboro;
}

.table tbody tr:hover {
    background-color: var(--color-grey);
    cursor: pointer;
}


/* Botones - Editar + Eliminar */
.animal-acciones {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
}

/* Lista estilos */
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.alert.success {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #c3e6cb;
}

/* Estado del animal */
.status {
    display: inline-block;
    padding: 0.2em .6em;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: .85rem;
}

.status-disponible {
    background: #d4edda;
    color: #155724;
}

.status-enproceso {
    background: #fff3cd;
    color: #856404;
}

.status-adoptado {
    background: #f8d7da;
    color: #721c24;
}